{% extends 'base.html.twig' %}

{% block title '#' ~ episode.number ~ ' - ' ~ episode.title %}

{% block description "Don't know what Friends's episode to watch tonight? Let's chose together!" %}

{% block body %}
    {{ include('partials/header.html.twig') }}

    <main class="fullSize position-relative">
        <section class="d-flex flex-column justify-content-center align-items-center h-100 w-100 z-index-10">
            <div class="d-flex flex-column align-items-center gap-4 text-light px-5">
                <div class="d-flex flex-column align-items-center gap-1">
                    <h1 class="text-center">
                        <a href="{{ episode.link }}" class="text-decoration-none text-light hover-underline friends-font" target="_blank">
                            # {{ episode.number }} <span class="{{ randomTextColor }}">&#x2022;</span> {{ episode.title }}
                        </a>
                    </h1>

                    <small>Season {{ episode.season }}</small>
                </div>

                <a href="{{ episode.link }}" title="See on netflix" target="_blank">
                    <img src="{{ episode.image }}" alt="{{ episode.title }}" id="episodeImage">
                </a>

                <p class="fs-4" id="plot">{{ episode.plot }}</p>
            </div>

            <img class="position-absolute vh-100 w-100 background" src="{{ asset('images/bg.webp') }}" alt="Friend's background image">

            <div class="d-flex gap-2 mt-5">
                <a href="" class="btn btn-primary">Give me another one!</a>
                <a href="{{ episode.link }}" class="btn btn-dark d-flex align-items-center gap-2" target="_blank">
                    <img src="{{ asset('images/Netflix_icon.svg') }}" height="26" alt="Netflix SVG logo">
                    <span>Watch now!</span>
                </a>
            </div>
        </section>
    </main>
{% endblock %}
